@use "../../styles/partials/font-face" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles//partials/paddings-margins" as *;
@use "../../styles/partials/components" as *;

.video-list {
  margin: 0 $padding-or-margin;
  @include tablet {
    margin: 0 $padding-or-margin-tablet;
  }
  @include desktop {
    width: 30%;
    border-left: 1px $Mercury solid;
    padding-left: $padding-or-margin-tablet;
    margin: 0;
  }
  &__heading {
    @include section-header;
    color: $Mercury;
    font-weight: 600;
    margin: $padding-or-margin 0;
    @include tablet {
      margin: $padding-or-margin-tablet 0;
    }
  }
}

.video-element {
  text-decoration: none;
  color: $BrainFlix-DarkBlack;
}
