@use "../../styles/partials/font-face" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles//partials/paddings-margins" as *;
@use "../../styles/partials/components" as *;

.video-player {
  background-color: black;
  width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  &__video {
    width: -webkit-fill-available;
    margin: 0;
    height: auto;
    background-size: contain;
    @include desktop {
      width: 1028px;
      position: relative;
      margin: auto;
    }
  }
}
