@use "./colors.scss" as *;
@use "./paddings-margins.scss" as *;
@use "./breakpoints.scss" as *;
// variables purely for styling purposes
// default typography, used for mobile ui

@mixin page-header {
  font-family: "Avenir Next LT Pro";
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  // color: $White;
  @include tablet {
    font-size: 33px;
    line-height: 44px;
  }
}

@mixin section-header {
  font-family: "Avenir Next LT Pro";
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  // color: $BandSite-Black;
  // padding-top: $padding-before-headline;
  @include tablet {
    // padding-top: $padding-before-headline-large;
    font-size: 36px;
    line-height: 44px;
  }
}

@mixin subheader {
  font-family: "Avenir Next LT Pro";
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  // padding-top: $padding;
  @include tablet {
    // padding-top: $padding-large;
    font-size: 24px;
    line-height: 32px;
  }
}
@mixin body-copy {
  font-family: "Avenir Next LT Pro";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  // color: $BandSite-Black;
  // padding-top: $padding;
  @include tablet {
    font-size: 14px;
    line-height: 22px;
    // padding-top: $padding-large;
  }
}

@mixin labels {
  font-family: "Avenir Next LT Pro";
  font-size: 10px;
  line-height: 20px;
  height: 20px;
  font-weight: 700;
  @include tablet {
    font-size: 12px;
  }
}
@mixin buttons {
  font-family: "Avenir Next LT Pro";
  font-size: 12px;
  line-height: 24px;
  height: 24px;
  font-weight: 600;
  @include tablet {
    font-size: 14px;
  }
}
