@use "../../styles/partials/font-face" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles//partials/paddings-margins" as *;
@use "../../styles/partials/components" as *;

.video {
  display: flex;
  justify-content: space-between;
  gap: $padding-or-margin;
  margin: $padding-or-margin 0;

  &__image {
    width: 40%;
    border-radius: 4px;
    background-color: $Mercury;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__text {
    @include body-copy;
    margin: 0;
    &--title {
      @extend .video__text;
      @include subheader;
      font-weight: 600;
    }
  }
}
